{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  {% block navbar %}

  <!-- Navigation Section -->


<!-- Navigation Section End -->
{% endblock navbar %}


{% block footer %}

<!-- Footer Section Starts Here -->
<footer class="footer">
<div class="container">
<div class="row g-4 py-4">
<!-- Categories Section -->
<div class="col-lg-4 col-md-12 col-12">
  <h6 class="mb-4">Categories</h6>
  <div class="row">
    <div class="col-6">
      <div class="nav flex-column">
        <div class="nav-item mb-2"><a href="#" class="nav-link" role="button" tabindex="0">Vegetables &amp; Fruits</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" role="button" tabindex="0">Breakfast &amp; Instant Food</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" role="button" tabindex="0">Bakery &amp; Biscuits</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" role="button" tabindex="0">Atta, Rice &amp; Dal</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" role="button" tabindex="0">Sauces &amp; Spreads</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" role="button" tabindex="0">Organic &amp; Gourmet</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" role="button" tabindex="0">Baby Care</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" role="button" tabindex="0">Cleaning Essentials</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" role="button" tabindex="0">Personal Care</a></div>
      </div>
    </div>
    <div class="col-6">
      <div class="nav flex-column">
        <div class="nav-item mb-2"><a href="#" class="nav-link" role="button" tabindex="0">Dairy, Bread &amp; Eggs</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" role="button" tabindex="0">Cold Drinks &amp; Juices</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" role="button" tabindex="0">Tea, Coffee &amp; Drinks</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" role="button" tabindex="0">Masala, Oil &amp; More</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" role="button" tabindex="0">Chicken, Meat &amp; Fish</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" role="button" tabindex="0">Paan Corner</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" role="button" tabindex="0">Pharma &amp; Wellness</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" role="button" tabindex="0">Home &amp; Office</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" role="button" tabindex="0">Pet Care</a></div>
      </div>
    </div>
  </div>
</div>

<!-- Additional Sections -->
<div class="col-lg-8 col-md-12 col-12">
  <div class="row g-4">
    <div class="col-md-3 col-sm-6 col-6">
      <h6 class="mb-4">Get to Know Us</h6>
      <div class="nav flex-column">
        <div class="nav-item mb-2"><a href="#" class="nav-link" tabindex="0">Company</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" tabindex="0">About</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" tabindex="0">Blog</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" tabindex="0">Help Center</a></div>
        <div class="nav-item mb-2"><a href="#" class="nav-link" tabindex="0">Our Value</a></div>
      </div>
    </div>
    <!-- Further sections omitted for brevity -->
  </div>
</div>
</div>

<!-- Footer Bottom -->
<div class="border-top py-4">
<div class="row align-items-center">
  <div class="col-lg-5 text-lg-start text-center mb-2">
    <ul class="list-inline mb-0">
      <li class="list-inline-item text-dark">Payment Partners:</li>
      <!-- Payment icons -->
    </ul>
  </div>
  <div class="col-lg-7 mt-4">
    <div class="text-lg-end text-center list-inline mb-0">
      <span class="list-inline-item text-dark">Get deliveries with FreshCart</span>
      <!-- App Store and Google Play links -->
    </div>
  </div>
</div>
</div>

<!-- Copyright -->
<div class="border-top py-4">
<div class="row align-items-center">
  <div class="col-md-6">
    <span class="small text-muted">© 2022 - 2025 FreshCart. Powered by <a href="https://codescandy.com/">Codescandy</a>.</span>
  </div>
  <div class="col-md-6 text-md-end">
    <ul class="list-inline mb-0">
      <li class="list-inline-item">Follow us:</li>
      <!-- Social media icons -->
    </ul>
  </div>
</div>
</div>
</div>
</footer>

<!-- Footer section end -->
{% endblock footer %}

</body>
</html>